[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    build,
    dist,
    *.pyc,
    .pytest_cache,
    .env,
    .venv
ignore = E203, W503, E302, 
        E101, W191, E117, W293, E231, W291, 
        E501, E126, W292, E999, E265, E226, 
        E114, E251, F401, E222, E303, E402,
        E225, F841, W391, E122, F811, F541