[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
user-agent = "*"
requests = "*"
google-cloud-storage = "*"
google-generativeai = "*"
google-cloud-aiplatform = "*"
pandas = "*"
<<<<<<<< HEAD:src/api-service/Pipfile
uvicorn = "*"
fastapi = "*"
python-multipart = "*"
pillow = "*"
chromadb = "==0.5.7"
tensorflow = "==2.17.0"
========
bs4 = "*"
requests-mock = "*"
pytest = "*"

[dev-packages]
flake8 = "*"
>>>>>>>> c00c57723e400c7b2acccedfe7b81eeb67027111:scraping/Pipfile

[requires]
python_version = "3.12"
